<!DOCTYPE html>
<html>

<head>
    <title>Contact Information</title>
</head>

<body>
    <section>
        <nav>
            <a href='/'>Homepage</a>
            <a href='/review_eloquent-ruby'>Eloquent Ruby Review</a>
            <a href='/contact'>Contact</a>
        </nav>
    </section>
    <section>
        <h1>I welcome your feedback!</h1>
        <img src='static/site-maintainer.png'>
        <p>Please contact me via <a href='kmoreno1205@gmail.com'>email</a>, Facebook <a
                href='https://www.facebook.com/'><img src='static/logo-facebook.png'></a> or Twitter <a href = 'https://twitter.com/home'><img
                src='static/logo-twitter.png'></a>.</p>
    </section>
    <section>
        <footer>Copyright Kat Hawkins</footer>
    </section>
</body>

</html>