<!DOCTYPE html>
<html>
    <head>
        <title>Book Review Homepage</title>
    </head>

    <body>
        <section>
            <nav>
                <a href = '/'>Homepage</a>
                <a href = '/review_eloquent-ruby'>Eloquent Ruby Review</a>
                <a href = '/contact'>Contact</a>
            </nav>
        </section>
        <section>
            <h1>Book Reviews</h1>
        </section>
        <section>
                
                <ul>
                    <li>
                        <a href = 'https://www.goodreads.com/en/book/show/14438307-clean-ruby'>
                        <img src = 'static/cover-clean_ruby.jpg'></a>
                    </li>
                    <li>
                        <a href = 'https://www.amazon.com/Confident-Ruby-Patterns-Joyful-Coding-ebook/dp/B00ETE0D2S'>
                        <img src = 'static/cover-confident_ruby.jpg'> </a>
                    </li>
                    <li>
                        <a href = 'https://www.amazon.com/Eloquent-Ruby-Addison-Wesley-Professional/dp/0321584104'>
                        <img src = 'static/cover-eloquent_ruby.jpg'></a>
                    </li>
                    <li>
                        <a href = https://www.goodreads.com/en/book/show/16720439-ruby-science'>
                        <img src = 'static/cover-ruby_science.jpg'></a>
                    </li>
                    <li>
                        <a href = 'https://www.amazon.com/Well-Grounded-Rubyist-David-Black/dp/1617295213/ref=asc_df_1617295213/?tag=hyprod-20&linkCode=df0&hvadid=266235278092&hvpos=&hvnetw=g&hvrand=12352181344063992112&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9028820&hvtargid=pla-457510577656&psc=1'>
                        <img src = 'static/cover-well_grounded_rubyist.jpg'></a>
                    </li>
                </ul>
        </section>
        <section>
            <footer>Copyright Kat Hawkins</footer>
        </section>
    </body>

</html>